enable_coredumps = true
authority_fqdn = "localhost"
authority_port = 9791
certdb_path = "/home/plalonde/prog/certes/testdata/authority1/certdb.sqlite"

root_cert_file = "/home/plalonde/prog/certes/testdata/ca/root.pem"
crl_path = "/home/plalonde/prog/certes/testdata/authority1/crl_store"

cert_file = "/home/plalonde/prog/certes/testdata/authority1/cert.pem"
key_file = "/home/plalonde/prog/certes/testdata/authority1/key.pem"

lock_file = "/home/plalonde/prog/certes/testdata/authority1/coordinator.lock"
coordinator_socket_path = "/home/plalonde/prog/certes/testdata/authority1/coordinator.sock"

#
# This section is for certes authorities. It sets default parameters
# for certificate generation and renewals.
#

serial_file = "/home/plalonde/prog/certes/testdata/authority1/serial"
cert_org = "Example"
cert_email = "cert@example.com"

# This supports OpenSSL's bignum integers, we can shard amongst authorities
# to avoid serial collisions.
min_serial = "0x1000000"
max_serial = "0x1ffffff"
