enable_coredumps = false
authority_fqdn = "localhost"
authority_port = 9790

key_file = "/etc/certes/ca_key.pem"
cert_file = "/etc/certes/ca_cert.pem"
root_cert_file = "/etc/certes/root.pem"
crl_path = "/var/certes/crls"

lock_file = "/var/certes/agent.lock"
agent_socket_path = "/var/certes/agent.sock"

#
# This section is for certes authorities. It sets default parameters
# for certificate generation and renewals.
#

cert_org = "Example"
cert_email = "cert@example.com"
certdb_path = "/var/certes/certdb.sqlite"
certdb_backup_path = "/var/certes/certdb.sqlite.bk"
certdb_backup_interval_seconds = 60

# This supports OpenSSL's bignum integers, we can shard amongst authorities
# to avoid serial collisions.
min_serial = "0x1000000"
max_serial = "0x1ffffff"
