dir                     = testdata
oid_section             = certalator_oids

[certalator_oids]
certalatorRoles         = 1.3.6.1.4.1.35910.3.1

[ca]
default_ca              = intermediate_ca

[root_ca]
certificate             = $dir/ca/root.pem
database                = $dir/ca/index.txt
new_certs_dir           = $dir/ca/certs
private_key             = $dir/ca/key.pem
serial                  = $dir/ca/serial
default_crl_days        = 365
default_days            = 365
default_md              = sha256
copy_extensions         = none
policy                  = root_ca_policy
x509_extensions         = intermediate_ca_ext

[root_ca_policy]
commonName              = supplied
stateOrProvinceName     = optional
countryName             = optional
emailAddress            = optional
organizationName        = supplied
organizationalUnitName  = optional
 
[root_ext]
basicConstraints        = critical,CA:true
keyUsage                = critical,cRLSign,digitalSignature,keyCertSign
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer
certalatorRoles         = ASN1:SEQUENCE:root_ca_roles

[root_ca_roles]
certalatorRoles.0       = IA5:authority

[intermediate_ca_ext]
basicConstraints        = critical,CA:true,pathlen:0
keyUsage                = critical,cRLSign,digitalSignature,keyCertSign
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer
certalatorRoles         = ASN1:SEQUENCE:intermediate_ca_roles

[intermediate_ca_roles]
certalatorRoles.0       = IA5:agent
certalatorRoles.1       = IA5:authority
certalatorRoles.2       = IA5:bootstrap

[intermediate_ca]
certificate             = $dir/authority1/cert.pem
database                = $dir/authority1/index.txt
new_certs_dir           = $dir/authority1/certs
private_key             = $dir/authority1/key.pem
serial                  = $dir/authority1/serial
default_crl_days        = 365
default_days            = 365
default_md              = sha256
copy_extensions         = copy
policy                  = intermediate_ca_policy

[intermediate_ca_policy]
commonName              = supplied
stateOrProvinceName     = optional
countryName             = optional
emailAddress            = optional
organizationName        = supplied
organizationalUnitName  = optional

[intermediate_proxy_crt_ext]
basicConstraints        = critical,CA:false
keyUsage                = critical,nonRepudiation,digitalSignature,keyEncipherment
extendedKeyUsage        = serverAuth,clientAuth
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer
certalatorRoles         = ASN1:SEQUENCE:proxy_roles

[proxy_roles]
certalatorRoles.0       = IA5:caproxy

[intermediate_client_crt_ext]
basicConstraints        = critical,CA:false
keyUsage                = critical,nonRepudiation,digitalSignature,keyEncipherment
extendedKeyUsage        = serverAuth,clientAuth
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer
certalatorRoles         = ASN1:SEQUENCE:client_roles

[client_roles]
certalatorRoles.0       = IA5:agent
certalatorRoles.1       = IA5:extremely_long_stupid_role_yiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyiyi

[req]
default_bits            = 4096
default_md              = sha256
distinguished_name      = dn

[dn]
organizationName        = supplied
commonName              = supplied
