enable_coredumps = true

ca_file = "/home/plalonde/prog/certalator/ca/root.pem"
crl_file = "/home/plalonde/prog/certalator/ca/root.crl"

crt_file = "/home/plalonde/prog/certalator/authority1/cert.pem"
key_file = "/home/plalonde/prog/certalator/authority1/key.pem"

lock_file = "/home/plalonde/prog/certalator/lock"
coordinator_socket_path = "/home/plalonde/prog/certalator/.coordinator.sock"

#
# This section is for certalator authorities. It sets default parameters
# for certificate generation and renewals.
#

serial_file = "/home/plalonde/prog/certalator/ca/serial"
cert_org = "Example"
cert_email = "cert@example.com"

# This supports OpenSSL's bignum integers, we can shard amongst authorities
# to avoid serial collisions.
min_serial = "0x1000000"
max_serial = "0x1ffffff"
